<!-- Row one. Two separate columns -->
<section class="image-section">
    <div class="image-column">
        <img src="assets/taniti.jpg" alt="Taniti image" class="taniti-image">
    </div>
    <div class="image-column">
        <img src="assets/tanitiBG.jpg" alt="Taniti background image" class="taniti-bg-image">
    </div>
</section>

<!-- Row two -->
<section class="about-section">
    <h2>About the Island!</h2>
    <p>
        Taniti is a small, tropical island in the Pacific. While the island has an area of less than 500 square miles,
        the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical
        rainforests, and a mountainous interior that includes a small, active volcano. Taniti has an indigenous
        population of about 20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by
        fishing or agriculture.
    </p>
</section>